input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
  cursor: pointer;
  border: none;
  transition: all .6s;
  text-align: left;
  margin-right: auto;
  text-decoration: underline;
}
input[id^="spoiler"]:checked + label {
  color: #333;
  margin-right:auto;
  text-decoration: underline;
}
input[id^="spoiler"] ~ .spoiler {
  height: 0;
  overflow: hidden;
  opacity: 0;
  border: none;
  text-align: left;
  transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler {
  height: auto;
  opacity: 1;
  text-align: left;
  display: contents;
  margin-right: auto;
}
.breakcontainer {
  text-align: left;
  word-break: break-all;
  line-break: inherit;
  margin-right: auto;
}
.spoilercontainer {
  margin-right: auto;
}
p:empty {
  display:none;
}
