<div class="spoilercontainer">
<input type="checkbox" id="spoiler{{ .Get "text" | lower | urlize }}" />
<label id="checkboxlabel{{ .Get "text" | lower | urlize }}" for="spoiler{{ .Get "text" | lower | urlize }}" >Show {{ .Get "text" }}</label>
<div class="spoiler">
<p>{{ .Inner | markdownify }}</p>
</div>
</div>
